body{
	font: 15px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
/* Estilos globales */
.contenedor{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
ul{
	margin: 0;
	padding: 0;
}
.boton1{
	height: 30px;
	background-color: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
}/*Encabezado*/

header{
	background-color: #24282d;
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 5px solid #1293d4;

}
header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
header #marca{
	float: left;
}
header #marca h1{
	margin: 0;

}
header nav{
	float: right;
	margin-top: 10px;

}
header .resaltado, header .actual a{
	color: #1293d4;
	font-weight: bold;
}
header a:hover{
	color:#ccc;
	font-weight: bold;
}
/*cabecera con imagen*/
#cabecera{
	min-height: 500px;
	background: url('../IMG/ciencia.jpg') no-repeat 400px  ;
	text-align: center;
	color: #fff;
}
#cabecera h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;

}
#cabecera p{
	font-size: 20px;
}

/*formulario*/
#boletin{
	padding: 15px;
	color: #fff;
	background: #24282b;
}
#boletin h1{
	float: left;
}
#boletin form{
	float: right;
	margin-top: 15px;

}
#boletin input[type="email"]{
	padding: 4px;
	height: 18px;
	width: 250px;
}

/*Cajas*/

#cajas{
	margin-top: 20px;
}

#cajas .caja{
	float: left;
	text-align: center;
	width: 20%;
	padding: 0px;
}

#cajas .caja img{
	width: 90px;

}

/* pie de pagina */

ADDRESS{
	padding: 20px;
	margin-top: 20px;
	color:#fff;
	background-color: #1293d4;
	text-align: center;

}
/* lateral*/
aside#lateral{
	float: right;
	width: 30%;
	margin-top: 10px;
}
.oscuro{
	padding: 15px;
	background-color: #35424a;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*main-com*/

article#main-col{
	float: left;
	width: 65%;

}

/* media Queries -  responsive*/
@media(max-width: 768px){
	header #marca,
	header nav,
	header nav li,
	#boletin h1,
	#boletin form,
	#cajas .caja,
	article#main-col,
	aside#lateral{
		float: none;
		text-align: center;
		width: 100%;
	}

	header{
		padding-bottom: 20px;

	}

	#boletin h1{
		margin-top: 40px;

	}

	#boletin button{
		display: block;
		width: 100%;
	}

	#boletin form input[type="email"]{
		width: 100%;
		margin-bottom: 5px;
	}
	input, textarea{
		width: 98%;
	}
}

/* ESTILO PARA SLIDER */
@font-face {
  font-family:'flexslider-icon';
  src: url('../fonts/flexslider-icon.eot');
  src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') 
  format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}﻿

.flexslider{
	width: 100%;
	position: relative;
}
.slides{
	width: 100%;
	overflow: hidden;
}

.slides img{
	width: 100%;
}

.slides,
.flex-control-nav,
.flex-direction-nav{
	margin:0px;
	padding: 0px;
	list-style: none;
}

.flex-control-nav{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 5%;
	z-index: 999;
}
.flex-control-nav li{
	display: inline-block;
	margin: 0 6px;
}
.flex-control-nav li a{
	display: block;
	background: #777777;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	text-indent: -9999px;
}
.flex-control-nav li a:hover{
	background: #2E2E2E;
}

.flex-control-nav li a.flex-active{
	background: #2E2E2E;
}
.flex-direction-nav a{
	display: block;
	text-decoration: none;
	position: absolute;
	top: 50%;
	z-index: 999;
	width: 40px;
	height: 40px;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.flex-direction-nav .flex-prev{
	left: 0;

}

.flex-direction-nav .flex-next{
	right: 0;
}

.flex-direction-nav a:before{
	font-family: "flexslider-icon";
	font-size: 40px;
	display: inline-block;
	content: '\f001';
	color: #fff;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.flex-direction-nav a.flex-next:before{
	content: '\f002';
}

.flex-caption p{
	font-family: Lato;
	position: absolute;
	top:50%;
	text-align: center;
	width: 100%;
	font-size: 45px;
	color: #fff;
	font-weight: bold;
}

.flexslider:hover .flex-direction-nav .flex-prev{
	opacity: 0.7;
	left: 10px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover{
	opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next{
	opacity: 0.7;
	right: 10px;
}

.flexslider:hover .flex-direction-nav .flex-next:hover{
	opacity: 1;
}